/* Reset default styles */
body, h1, h2, p, hr {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Menlo", monospace;
    background-color: black;
    color: white;
}

header {
    text-align: center;
    margin-top: 20px;
}

.logo {
    width: 15%;
}

.company-name {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.left-column {
    flex: 2;
    padding: 12px;
}

.right-column {
    flex: 1;
}

.image {
    width: 100%;
    height: auto;
}

.align-right {
    text-align: right;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.contact-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid darkgrey;
    border-radius: 10px;
}

.contact-form label, .contact-form input, .contact-form select, .contact-form textarea {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 1px;
}

.testimonials {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.testimonial {
    flex: 1;
    margin: 0 10px;
}

.footer-line {
    border: 1px solid darkgrey;
    margin: 20px 0;
}

.footer-logo {
    width: 12%;
    margin: 20px auto;
    display: block;
}

.footer-btc {
    width: 12%;
    margin: 20px auto;
    display: block;
}

.footer-text {
    text-align: center;
    margin-top: 20px;
}
